@use "../costumize" as *;

.index {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.login {
  @include media-breakpoint-down(md) {
    overflow: auto !important;
  }

  &-img-1 {
    width: 300px;
    height: 450px;
    z-index: -250;

    span {
      left: -125px;
      bottom: -125px;
      width: 200px;
      height: 300px;
    }
  }

  .alt-title {
    width: 100%;
    text-align: center;

    @include media-breakpoint-up(lg) {
      width: 50%;
      text-align: left;
    }
  }

  .form-login {
    width: 75%;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}

.register {
  top: 6vh;
  width: 35vw;
  background-color: red;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
