<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHS Strand Finder</title>

    <!-- STYLE -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fontawesome.css" />

    <!-- SCRIPT -->
    <script src="../js/library/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- NAV SECTION - DASHBOARD -->
    <nav class="navbar navbar-expand-lg grd-pri-sec" style="height: 6vh">
      <div class="container">
        <a class="navbar-brand poppins text-light fs-5" href="#">
          SHS Strand Finder
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-lg-flex justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav d-lg-flex align-items-center">
            <a class="nav-link roboto text-uppercase text-info fs-5" href="#">
              <i class="fa-solid fa-bars"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- MAIN - NO FLEX -->
    <main class="login container-fluid auto-overflow" style="height: 94vh">
      <div class="container">
        <div class="row">
          <section class="col-12 pb-4">
            <!-- STRAND TYPE CONTAINER -->
            <section class="strand-type-container mt-5">
              <h5
                class="w-100 poppins border-bottom border-dark text-uppercase fw-semibold"
              >
                SUBJECT NAME ASSESSMENT
              </h5>
            </section>
            <!-- QUESTION -->
            <section class="roboto">
              <p>
                <strong>1)</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis enim illum deserunt officiis, assumenda cumque facilis odit blanditiis tenetur non quos, architecto asperiores exercitationem ex perspiciatis neque tempora veritatis! Autem!
              </p>
            </section>
            <!-- CHOICES -->
            <button class="btn btn-light w-100 p-3 my-2 d-flex flex-column">
              <p class="m-0 text-start">
                <strong>A.</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </button>
            <button class="btn btn-light w-100 p-3 my-2 d-flex flex-column">
              <img class="mb-3" src="../asset/strand/strand2.jpg" alt="naswer key image" style="max-width: 250px;">
              <p class="m-0 text-start">
                <strong>A.</strong>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </button>
          </section>
          <!-- 
            <section class="col-4 d-flex justify-content-end bg-danger">D</section> 
          -->
        </div>
      </div>
    </main>
  </body>
</html>
