<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHS Strand Finder</title>

    <!-- STYLE -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fontawesome.css" />

    <!-- SCRIPT -->
    <script src="../js/library/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- NAV SECTION - DASHBOARD -->
    <nav class="navbar navbar-expand-lg grd-pri-sec" style="height: 6vh">
      <div class="container">
        <a class="navbar-brand poppins text-light fs-5" href="#">
          SHS Strand Finder
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-lg-flex justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav d-lg-flex align-items-center">
            <a class="nav-link roboto text-uppercase text-info fs-5" href="#">
              <i class="fa-solid fa-bars"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- MAIN - NO FLEX -->
    <main class="login container-fluid auto-overflow" style="height: 94vh">
      <div class="container">
        <div class="row">
          <section class="col-12 pb-4">
            <!-- STRAND TYPE CONTAINER -->
            <section class="strand-type-container mt-5">
              <h5
                class="w-100 poppins border-bottom border-dark text-uppercase fw-semibold"
              >
                SUBJECT NAME ASSESSMENT
              </h5>
              <section class="row" style="gap: 0.75rem">
                <!-- UNANSWER -->
                <div
                  class="card bg-dark position-relative col-3 p-2 g-3"
                  style="height: 500px"
                >
                  <div class="card-body position-relative">
                    <a class="nav-link" href="#">
                      <i
                        class="fa-solid fa-xmark text-light fs-3 position-absolute top-0 end-0 m-2"
                      ></i>
                    </a>
                    <div
                      class="position-absolute top-50 start-50 translate-middle w-100 p-3"
                    >
                      <button
                        class="btn btn-dark roboto w-100 p-4 fs-6 fw-semibold"
                      >
                        VIEW QUESTION
                      </button>
                    </div>
                  </div>
                </div>
                <!-- ANSWERED -->
                <div
                  class="card grd-pri-sec_ position-relative col-3 p-2 g-3"
                  style="height: 500px"
                >
                  <span class="shs-glass grd-none-inf_"></span>
                  <div class="card-body position-relative">
                    <a class="nav-link" href="#">
                      <i
                        class="fa-solid fa-xmark text-light fs-3 position-absolute top-0 end-0 m-2"
                      ></i>
                    </a>
                    <h6
                      class="roboto w-100 text-center position-absolute top-50 start-50 translate-middle fw-semibold"
                    >
                      SUBMIT YOUR ANSWER
                    </h6>
                  </div>
                </div>
              </section>
            </section>
          </section>
          <!-- 
            <section class="col-4 d-flex justify-content-end bg-danger">D</section> 
          -->
        </div>
      </div>
    </main>
  </body>
</html>
